.eggs/
.tox/
*.bak
*.ipynb
*.pyc
\.cache/
\.hypothesis/
\.idea/
\.pylintrc
\.pypirc
\.vscode/
ashpool/.hypothesis/**
ashpool/ashpool.py.bak
ashpool/tests/__pycache__/
build/
docs/_build/
ipynb/
ipynb/*.ipynb
